*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    height: 60vh;
    width: 100%;
    background-image: url(../imagenes/fondoHeader.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloHeader{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #89858f;
    padding: 15px 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#paginas{
    padding: 0% 10px;
    font-size: 30px;
}

.seccion1{
    background-color: white;
}

#contenedorBusqueda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    background-color: black;
}

#colorTitulo{
    color: white;
    font-size: 30px;
}