*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
  background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGs1a2xqNTllZno5YTVjbHRyNDdrbXZ2bDVzbGduazBqM3ZweGViNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/94P1LEMyuVEeA/200.webp);
}


header{
    height: 40vh;
    width: 100%;
    background-image: url(../imagenes/ff.png);
    background-position: center;
    background-size: cover;
    margin: -10px 0px -10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloEncavesado{
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffae00 ;

}

.subtituloEncavesado{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffae00 ;
    padding: 40px 350px;
}



nav {
    display: flex; 
    justify-content: space-between;
    background-image: url(../imagenes/header.png);
    background-size: contain;
    height: 20vh;
    padding: 0px 0px 20
    px 0px;
   
}
/* #logo{
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
} */

#title-logo{
  font-size:90px;
  margin-bottom: 10px;
}
#logo{
  font-size: 50px;
  margin-bottom: -20px;
  margin-left: 20px;
  color:red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style:oblique;
  
}
#logo2{
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 40px;
  color:red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style:oblique;
}

.breadcrumb-title{
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    padding: 0px 18px;
    background-color: black;
    height: 120px;
    margin-top:10px;
    margin-left: 20px;
    border-radius: 20px;
}
#textocolor1{
    color: #f7450f;
    padding: 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0px 200px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

li {
    margin-right: 20px; 
}

li a {
    text-decoration: none; 
    color: #ffffff; 
}

.colorLetra{
    color: white;
	font-size: 30px;
}

.activo{
    color:#f7450f;
}

.seccion1{
	background-image: url(../imagenes/headerD.png);
  background-size: contain;
	color:rgb(255, 255, 255) ;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
    height: 10vh;
}

#titulo{
	display: flex;
	justify-content: center;
	align-items: center;
}

#colorTitulo{
	display: flex;
	color: white
}

#input{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 0px 10px;
}

#tituloInput{
	padding: 0px 10px;
}


#buscarButton {
    background-color: #d14b0d;
	border-radius: 5px;
    color: rgb(255, 255, 255); 
    padding: 0px 10px; 
}

.seccion3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    padding: 10px;
}

#imagenes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0px;
    width: 100%;;
}

#img1{
    padding: 0px 15px;
}

#divtitulos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#divtitulos-h2{
    padding: 0% 10px;
}

footer {
    background-color: #408cff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilos de listas */

#main{
    background-image: url(../imagenes/fondoHeader.jpeg);
}

#container-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-filter {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .container-cards {
    width: 100vw;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .book {
    width: 25%;
    height: 14rem;
    border: double 5px gray;
    background-color: white;
    border-radius: 5px;  
    margin: 1rem;
    display: flex;  
    align-items: center;
  }
  
  .book-photo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-photo > img {
    width: 80%;
    height: 80%;
    object-fit: cover;  
    box-shadow: -3px -3px 0 #34577ebc, 0 0 50px #022c5cbc;
  }
  
  .book-description {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: double 2px #5555cb;
  }
  
  .book-description > h2 {
    font-size: 1.5rem;
    color: #5555cb;
    text-align: center;
  }
  
  .book-description > h3 {
    font-size: 1rem;
    margin-left: 1rem;
    text-align: center;
  }
  
  .book-description > h4 {
    margin-top: 3rem;
    color: #5555cb;
    font-weight: 900;
  }
  
  .book-description > button {
    margin-top: 1rem;
    width: 80%;
    font-size: 1.2rem;
    border-radius: 15px;
    font-weight: 600;
    background-color: #0739f0c8;
    color: #fff;
    cursor: pointer;  
    transition: background-color 0.3s ease;
  }
  
  .book-description > button:hover,
  .book-description > button:focus {
    background-color: #366f36;
  }
  
  #btnSort {
    width: 10rem;
    border-radius: 15px;
    border: double 5px #041c93;
  }
  /* slider */
  .slider{
    width: 1200px;
    height: 550px;
    overflow: hidden;
    margin-right: 0px;
    border-radius:10in;
    background: rgba(94, 94, 94, 0.153);
    box-shadow: 0 0.9rem 9rem rgb(0, 0, 0);
    justify-content: right;
    margin-top: 0px;
    
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
      
  }
  .slider li{
      width: 100%;
      list-style: none;
      
  }
  .slider img{
      width: 1200px;
      height: 550px;
      
      
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      19%{margin-left: 0;}
      
      24%{margin-left: -100%;}
      44%{margin-left: -100%;}
      
      49%{margin-left: -200%;}
      69%{margin-left: -200%;}
      
      74%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100px;
      width: 100px;
      
  }
  }
  /* contenidos del slider */
  #imagenS{
    margin: 60px 20px 20px 20px;
    width: 250px;
    height: 400px;
  }