<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/agregarLIbro.css">
    <link rel="shortcut icon" href="../assets/imagenes/logo.jpg">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
        <header>
            <div class="container">
                <h1>Agregar libros</h1>
                <input id="styles" type="text" placeholder="nombre de la obra"> 
                <input id="styles" type="text" placeholder="nombre autor"> 
                <input id="styles" type="text" placeholder="nombre genero"> 
                <input id="styles" type="text" placeholder="nombre del lenguaje"> 
                <input id="styles" type="number" placeholder="precio"> 
                <input id="styles" type="text" placeholder="tipo de formato"> 
                <input id="styles" type="text" placeholder="isbn"> 
                <input id="styles" type="text" placeholder="descripcion del libro"> 
                <input id="styles" type="text" placeholder="condicion del libro"> 
                <input id="styles" type="text" placeholder="localizacion dellibro"> 
                <input id="styles" type="text" placeholder="fecha de publicacion"> 
                <input id="styles" type="text" placeholder="editoral a la que pertenece"> 
                <input id="styles" type="number" placeholder="cantidad de paginas"> 
                <input type="submit" value="agregar libro" onclick="submit(books);">
            </div>
            <a class="boton" href="../index.html">INICIO</a>
        </header>
    </main>
</body>
</html>
 
