<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/agregarLIbro.css">
    <link rel="shortcut icon" href="../assets/imagenes/logo.jpg">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
        <header>
            <div class="container">
                <h1>Agregar libros</h1>
                <input type="text" placeholder="nombre del libro">
                <input type="text" placeholder="autor del libro">
                <input type="text" placeholder="editorial del libro">
                <input type="text" placeholder="año de publicacion del libro">
                <input type="text" placeholder="cantidad de libros">   
                <button>enviar</button>
            </div>
            <a class="boton" href="../index.html">INICIO</a>
        </header>
    </main>
</body>
</html>
 
