<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="shortcut icon" href="../assets/imagenes/logo.jpg">
    <title>diseño multimedia</title>
</head>
<body>
    <nav>
        <div class="breadcrumb-title">
          <p id="title-logo">LIBRERIA </p> 
          <div>
              <p id="logo">13</p>
              <p id="logo2">13</p>
          </div>
        </div>
        <ul>
            <li><a href="../index.html" >INICIO</a></li>
            <li><a href="categorias.html" class="activo">CATEGORIAS</a></li>
            <li><a href="administrar.html">ADMINISTRAR</a></li>
        </ul>
    </nav>
    <main id="main">
      <div  id="container-filter">
        <button id="btnSort">Ordenar de la A-Z</button>
          <label for="">Género</label>
          <select name="" id="select-gender">
            <option value="gender">Género</option>
            <option value="everything">Todos</option>
            <option value="Ficción">Ficción</option>
            <option value="Novela">Novela</option>
            <option value="Drama">Drama</option>
            <option value="Cuento">Cuento</option>
            <option value="Epopeya">Epopeya</option>
            <option value="Autoayuda">autoayuda</option>
            <option value=" estado">Nuevo</option>
          </select>
          <label for="">disponibles</label>
          <select name="" id="select-disponibles">
            <option value="no disponible">no disponible</option>
            <option value="si disponible">si disponible</option>
          </select>
          <label for="">disponibles</label>
          <select name="" id="select-lenguaje">
            <option value="Español">Español</option>
            <option value="Italiano">Italiano</option>
            <option value="Portugues">Portugues</option>
            <option value="Ingles">Ingles</option>
            <option value="Ruso">Ruso</option>
            <option value="Aleman">Aleman</option>
            <option value="Frances">Frances</option>
            <option value="Griego">Griego</option>
          </select>
          <label for="">Editoriales</label>
          <select name="" id="select-edito">
            <option value="Editorial Sudamericana">Editorial Sudamericana</option>
            <option value="Bompiani">Bompiani</option>
            <option value="Debate">Debate</option>
            <option value="Planeta">Planeta</option>
            <option value="HarperOne">HarperOne</option>
            <option value="T. Egerton">T. Egerton</option>
            <option value="Francisco de Robles">Francisco de Robles</option>
            <option value="The Russian Messenger">The Russian Messenger</option>
            <option value="Charles Scribner's Sons">Charles Scribner's Sons</option>
            <option value="J.B. Lippincott & Co.">J.B. Lippincott & Co.</option>
            <option value="Allen & Unwin">Allen & Unwin</option>
            <option value="Thomas Cautley Newby">Thomas Cautley Newby</option>
            <option value="Lippincott's Monthly Magazine">Lippincott's Monthly Magazine</option>
            <option value="Kurt Wolff Verlag">Kurt Wolff Verlag</option>
            <option value="Grasset">Grasset</option>
            <option value="Reynal & Hitchcock">Reynal & Hitchcock</option>
            <option value="Shakespeare and Company">Shakespeare and Company</option>
            <option value="Little, Brown and Company">Little, Brown and Company</option>
            <option value="Penguin Classics">Penguin Classics</option>
            <option value="A. Lacroix, Verboeckhoven & Cie.">A. Lacroix, Verboeckhoven & Cie.</option>
            <option value="Ballantine Books">Ballantine Books</option>
          </select>
          <select name="" id="select-escritor">
            <option value="Miguel de Cervantes">Miguel de Cervantes</option>
            <option value="Jane Austen">Jane Austen</option>
            <option value="Paulo Coelho">Paulo Coelho</option>
            <option value="Carlos Ruiz Zafón">Carlos Ruiz Zafón</option>
            <option value="Yuval Noah Harari">Yuval Noah Harari</option>
            <option value="Umberto Eco">Umberto Eco</option>
            <option value="Gabriel García Márquez">Gabriel García Márquez</option>
            <option value="Fiódor Dostoyevski">Fiódor Dostoyevski</option>
            <option value="F. Scott Fitzgerald">F. Scott Fitzgerald</option>
            <option value="Harper Lee">Harper Lee</option>
            <option value="J.R.R. Tolkien">J.R.R. Tolkien</option>
            <option value="Emily Brontë">Emily Brontë</option>
            <option value="Oscar Wilde">Oscar Wilde</option>
            <option value="Franz Kafka">Franz Kafka</option>
            <option value="Marcel Proust">Marcel Proust</option>
            <option value="Antoine de Saint-Exupéry">Antoine de Saint-Exupéry</option>
            <option value="J.D. Salinger">J.D. Salinger</option>
            <option value="Homero">Homero</option>
            <option value="Victor Hugo">Victor Hugo</option>
            <option value="Ray Bradbury">Ray Bradbury</option>
          </select>
          
          <button id="btnTopPrices">Filtrar 5 Precios Más Caros</button>
          <button id="btnMoreThan200Pages">Filtrar Libros con más de 200 Páginas</button>
          <button id="btnPriceRange">libros entre 30000 y 80000</button>
          <button id="btnDiscount">Aplicar Descuento del 10%</button>
          <button id="btnResetPrices">Restablecer Precios Originales</button>
      </div>
      <div id="lista" class="lista">      
      </div>
    </main>
    <footer></footer>
    <script type="module" src="../assets/js/libros.js"></script>
    <script type="module" src="../assets/js/categorias.js"></script>
</body>
</html>

