<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="shortcut icon" href="../assets/imagenes/logo.jpg">
    <title>diseño multimedia</title>
</head>
<body>
    <main>
        <nav>
            <div class="breadcrumb-title">
            <p>LIBRERIA </p> <p id="textocolor1"> EL AMANECER</p>
            </div>
			<ul>
				<li><a href="../index.html">INICIO</a></li>
                <li><a href="categorias.html" class="activo">CATEGORIAS</a></li>
			</ul>
		</nav>
        <section>
            <script src="../assets/js/lista.js"></script>
            <button onclick="lista()">lista</button>
        </section>

        <script src="libros.js"></script>
        <script src="app.js"></script>
		<footer>
			<p>Grephel Desarrollo Web, copyright &copy; 2017</p>
		</footer>
	</main>
</body>
</html>