<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">  <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Configuración de la escala inicial del viewport -->
    <title>Enviar Información a JavaScript</title>  <!-- Título de la página -->
    <link rel="stylesheet" href="../assets/css/stylesI.css">  <!-- Enlace al archivo CSS para estilos -->
</head>
<body>
    <div class="container">
        <h1>Enviar Información</h1>  <!-- Título principal de la página -->
        <form id="dataForm">  <!-- Formulario para enviar información -->
            <div id="titulo"></div>  <!-- Contenedor dinámico para mostrar el título del libro -->
            <input type="text" id="libro" name="nombre_DE_LIBRO" placeholder="nombre del libro">  <!-- Campo de texto para el nombre del libro -->
            <input type="text" id="isbn" name="isbn" placeholder="ISBN del libro">  <!-- Campo de texto para el ISBN del libro -->
            <h2>informacion del cliente </h2>  <!-- Subtítulo para la información del cliente -->
            <input type="text" id="name" name="name" placeholder="Nombre">  <!-- Campo de texto para el nombre del cliente -->
            <input type="text" id="Apellido" name="Apellido" placeholder="Apellido">  <!-- Campo de texto para el apellido del cliente -->
            <input type="text" id="Numero TLF" name="Numero TLF" placeholder="Numero de TLF">  <!-- Campo de texto para el número de teléfono del cliente -->
            <input type="email" id="email" name="email" placeholder="Correo Electrónico">  <!-- Campo de texto para el correo electrónico del cliente -->
            <input type="text" id="Direccion" name="Direccion" placeholder="Direccion">  <!-- Campo de texto para la dirección del cliente -->
            <input type="number" name="cantidad" id="cantidad">  <!-- Campo de número para la cantidad de libros -->
            <button type="button" id="submitButton">Enviar</button>  <!-- Botón para enviar el formulario -->
        </form>
        <button><a href="..//templates/categorias.html">volver</a></button>
    </div>

    <script src="../assets/js/app2.js"></script>  <!-- Script JavaScript para manejar la funcionalidad del formulario -->
</body>
</html>
